# 项目排除路径
/0.一些事项/
/phantomjs/
/project1/
/project3/
/project4/
/project4_release/
/project5/
/project6/
/project7/
/project8/
/project8_release/
/project8_update/
/project9/
/project10/
/project11/
/project12/
/project13/
/project14/
/project15/
/project16/
/project16-1/
/project16-2/
/project17/
/project18/
/project19/
/project20/
/project20-1/
/project20-2/
/project20-3/
/project21/
/project22/
/project23/
/project23-1/
/project23-2/
/project24/
/project25/
/project26/
/project27/
/project28/
/project28-1/
/project28-3/
/project29/
/project30/
/project31/
/project31-1/
/project32/
/project33/
/project34/
/project34-1/
/project34-2/
/project35/
/project36/
/project37/
/project38/
/project39/
/project40/
/project41/
/project42/
/sympyLearning/
/takeoutWebSystem/
/takeoutWebSystemV2/
/txdgWebSystem/
/XlsxWriter/